* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

img {
  max-width: 25rem;
  max-height: 25rem;
}

a:hover {
  text-decoration: none;
  color: black;
  cursor: auto;
}

header {
  background-image: url("/img/Big_sity.png");
}

.header_width {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.header__list {
  text-align: center;
  line-height: 50px;
}

.header__item {
  display: inline-block;
}

.header__item:hover {
  cursor: auto;
}

.header_a {
  color: black;
}

.header_a:hover {
  color: #320657;
  font-size: 1.1rem;
  text-decoration: none;
}

.header__title, .header__title-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: black;
}

.header__title {
  margin-top: 10rem;
  font-weight: 700;
}

.header__title-text {
  margin-top: 5rem;
  font-size: 1.3rem;
}

.btn-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  opacity: 0.7;
  display: inline-block;
  background: #671397;
  color: black;
  padding: 1rem 1rem;
  text-decoration: none;
  border-radius: 3px;
}

.R-p_main-conntent {
  background-color: #9638b3;
}

.R-p_main-conntent_position {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.R-p_main-text-h1 {
  padding-top: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: white;
}

.R-p_main-text-item {
  margin-top: 2rem;
}

.R-p_main-text-item-a {
  margin-bottom: 2rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

.R-p_main-text-item-a:hover {
  text-decoration: underline;
}

.R-p_main-text-item-p {
  font-size: 1.3rem;
  margin-top: 1rem;
}

footer {
  background-color: #424242;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_text-h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #dadada;
  padding-top: 1rem;
  margin-bottom: 0;
}

.form-email {
  color: #dadada;
  margin-right: 1rem;
}

.form-control {
  margin-right: 1rem;
}

.form-inline {
  margin: 2rem 0rem;
}

.footer_text-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  color: #dadada;
  padding-bottom: 2rem;
}

.footer_text-a {
  margin-left: 0.5rem;
}

.footer_text-a:hover {
  color: black;
}

.email-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: black;
  margin-bottom: 2rem;
}

.social {
  padding-top: 11rem;
}

.footer_img {
  width: 70px;
  height: 70px;
}

.about {
  background-color: #9638b3;
}

.about_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.about_text-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #dadada;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.about_img {
  max-width: 20rem;
  max-height: 20rem;
}

.about_text-text {
  margin-left: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
}

.index_conntent {
  background-color: #9638b3;
}

.index_conntent-position {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.index_conntent-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #dadada;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.index_conntent-img {
  max-height: 20rem;
  max-width: 30rem;
}

.Photos-img {
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 40rem;
  max-height: 40rem;
}

.Photos_conntent {
  background-color: #9638b3;
}

.photos_conntent-position {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.news_conntent {
  background-color: #9638b3;
}

.news_content-position {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}
/*# sourceMappingURL=style.css.map */